.customer-register .row-parent {
    margin-top: 20px;
}

.customer-register .header {
    height: 150px;
    background-color:#F08080; 
    color: white;
    border: 1px solid black;
}

.customer-register .header .title h1 {
    font-size: 5.5rem;
    margin-top: 15px;
    margin-left: 50px;
}
.customer-register .header button {
    background-color: aliceblue;
    font-size: 2.5rem;
    margin: 35px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px 150px;
}
/* .customer-register .header button  */

.customer-register .body .highlight {
    color: 	#1E90FF;
    background-color: #00FFFF;
    padding: 0px 5px 5px 5px;
    margin-left: 10px;
}

.customer-register .body {
    padding: 80px;
}

.customer-register .body .edge {
    padding: 20px 0px 15px 0px;
}

.customer-register .body .legent-child-element {
    margin-left: 30px;
}

/* customers*/
.customers .pagination {
    justify-content: center;
}

.customers {
    padding: 20px 50px;
}

/* customer-edit */
.customer-edit .row-parent {
    margin-top: 20px;
}

.customer-edit .header {
    height: 150px;
    background-color:#F08080; 
    color: white;
    border: 1px solid black;
}

.customer-edit .header .title h1 {
    font-size: 5.5rem;
    margin-top: 15px;
    margin-left: 50px;
}
.customer-edit .header button {
    background-color: aliceblue;
    font-size: 2.5rem;
    margin: 35px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px 150px;
}

.customer-edit .body .highlight {
    color: 	#1E90FF;
    background-color: #00FFFF;
    padding: 0px 5px 5px 5px;
    margin-left: 10px;
}

.customer-edit .body {
    padding: 80px;
}

.customer-edit .body .edge {
    padding: 20px 0px 15px 0px;
}

.customer-edit .body .legent-child-element {
    margin-left: 30px;
}

/* customer detail */

.customer-detail .header {
    height: 150px;
    background-color:#F08080; 
    color: white;
    border: 1px solid black;
}
.customer-detail .header .infor {
    border: 1px solid black ;
    margin-top: 30px;
    margin-left: 100px;
    padding: 10px 10px 10px 10px;
    background-color: brown;
}
.customer-detail .header .birth {
    border: 1px black solid;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    background-color: brown;
}

.customer-detail .header-right .health_insurance_card {
    border: 1px black solid;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    background-color: brown;
}

.customer-detail .header-right button {
    background-color: aliceblue;
    font-size: 2.5rem;
    margin: 35px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px 20px;
}

.customer-detail .address {
    margin-top: -40px;
    margin-left: 100px;
}
.customer-detail .content {
    padding-left: 100px;
}

.customer-detail .content .date_time_picker {
    color: #1E90FF;
}

.customer-detail .content .list_circle table tr td {
    border: none;
    /* height: 50px; */
}

.customer-detail .content .list_circle .el_circle {
    border: 1px black solid;
    border-radius: 50%;
    height: 120px;
    margin: 10px 20px 10px 40px;
    padding-top: 50px;
}

.customer-detail .content .list_circle .el_circle:hover{
    cursor: pointer;
}

.customer-detail .content .list_circle {
    margin-top: 50px;
    padding: 0 90px;
}

.customer-detail .content  .medical-examining-left {
    border: 1px solid gray;
    border-radius: 25px;
    min-height: 200px;
    padding: 20px;
}

.customer-detail .content  .medical-examining-right {
    border: 1px solid gray;
    border-radius: 25px;
    min-height: 200px;
    padding: 20px;
    margin-top: 30px;
}

.customer-detail .content {
    margin-top: 20px;
}

.customer-detail .medical-examining .title {
    margin-bottom: 20px;
}