textarea {
    width: 100%;
}

.search-infor {
    margin-top: 100px;
}

.patient-register .row-parent {
    margin-top: 20px;
}

.patient-register .header {
    height: 150px;
    background-color:#F08080; 
    color: white;
    border: 1px solid black;
}

.patient-register .header .title h1 {
    font-size: 5.5rem;
    margin-top: 15px;
    margin-left: 50px;
}
.patient-register .header button {
    background-color: aliceblue;
    font-size: 2.5rem;
    margin: 35px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px 150px;
}
/* .patient-register .header button  */

.patient-register .body .highlight {
    color: 	#1E90FF;
    background-color: #00FFFF;
    padding: 0px 5px 5px 5px;
    margin-left: 10px;
}

.patient-register .body {
    padding: 80px;
}

.patient-register .body .edge {
    padding: 20px 0px 15px 0px;
}

.patient-register .body .legent-child-element {
    margin-left: 30px;
}

/* ==========view2========== */
.view2 .header .title h1 {
    font-size: 5.5rem;
    margin-top: 15px;
    margin-left: 50px;
}
.view2 .header button {
    background-color: aliceblue;
    font-size: 2.5rem;
    margin: 35px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px 90px;
}

.view2 .body {
    padding: 80px;
}
.view2 .body .question {
    color: #D2691E;
    margin-top: 5px;
}
.view2 .body .answers {
    margin-left: 5px;
}
.view2 .body .answers img{
    padding: 0 40px;
}
.view2 .body .check-right {
    margin-left: 20px;
}
.view2 .body .answers input {
    margin-right: 10px;
}

/* search-infor */
.search-infor .pagination {
    justify-content: center;
}

/* patient detail */

.patient-detail .header {
    height: 150px;
    background-color:#F08080; 
    color: white;
    border: 1px solid black;
}
.patient-detail .header .infor {
    border: 1px solid black ;
    margin-top: 30px;
    margin-left: 100px;
    padding: 10px 10px 0 10px;
    background-color: brown;
}
.patient-detail .header .date_now {
    border: 1px black solid;
    margin-top: 30px;
    padding: 10px 10px 0 10px;
    background-color: brown;
}

.patient-detail .header-right .age {
    border: 1px black solid;
    margin-top: 30px;
    padding: 10px 10px 0 10px;
    background-color: brown;
}

.patient-detail .header-right button {
    background-color: aliceblue;
    font-size: 2.5rem;
    margin: 35px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px 20px;
}

.patient-detail .content {
    padding-left: 100px;
}

.patient-detail .content .date_time_picker {
    color: #1E90FF;
}

.patient-detail .content .list_circle table tr td {
    border: none;
    /* height: 50px; */
}

.patient-detail .content .list_circle .el_circle {
    border: 1px black solid;
    border-radius: 50%;
    height: 120px;
    margin: 10px 20px 10px 40px;
    padding-top: 50px;
}

.patient-detail .content .list_circle .el_circle:hover{
    cursor: pointer;
}

.patient-detail .content .list_circle {
    margin-top: 50px;
    padding: 0 90px;
}

.modal-dialog {
    position: fixed !important;
    margin: 100px 0 0 90px !important;
    width: 90% !important;
    height: 50% !important;
    padding: 0px !important;
}